/*
	CSS for JavaFX
*/

.root{
	-fx-background-color: rgb(142,193,218);   /* Twitter's colors */	
}

#btnSend{
	-fx-graphic:url("../bin/res/img/btnTweet_25.png");		/*Image in a button*/
}

#btnCancel{
	-fx-graphic:url("../bin/res/img/btnCancel.png");
}

#mainVbox{
	-fx-padding: 20px;	/*20px because we need to let space for the shadow*/
	-fx-effect: dropshadow(two-pass-box , black, 20, 0.0 , 0, 0); 
	
}

#menuBar{
	-fx-padding: 10px;	
	-fx-background-color:linear-gradient(#3e3e3e,#262626);
	-fx-background-position:center;
	-fx-background-image:url("../bin/res/img/icone_twitter.png");
	-fx-background-repeat:no-repeat;
}

#footer{
	-fx-padding: 10px;
	-fx-background-color:linear-gradient(#262626,#3e3e3e);
}

#contentPane{
	-fx-background-color: lightblue  ;
}

.button{
	
	-fx-max-height: 20px;
	-fx-font-family: "Verdana";
	-fx-font-weight: bold;
	
}
.button:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


